<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href={% static 'style.css' %}>
    {% block head %}{% endblock head %}
</head>
<body>

    top bar <br>
    side bar <br><br><br><br><br>

    {% block body %}{% endblock body %}
    <br><br><br><br>
    footer
    
</body>
</html>