<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes</title>
</head>
<body>
    
    <h1>This is shoes page</h1>


    <form action={% url 'shoes' %} method="post">
        {% csrf_token %}
        Shoe Name : <input type="text" name="shoe_name" id="shoe_name"><br>
        Price : <input type="number" name="price"> <br>
        Shoe Colour : <input type="text" name="shoe_colour"><br> <br>
        Shoe Description : <textarea name="shoe_description" id="shoe_description" cols="30" rows="10"></textarea> <br>
        <input type="submit" value="Save">
    </form>
    {% for shoe in shoe_dict %}
        <p>{{shoe.shoe_name}} &nbsp; {{shoe.price}} &nbsp; {{shoe.shoe_colour}} &nbsp; {{shoe.shoe_description}} &nbsp; {{shoe.available_now}}</p>
    {% endfor %}
</body>
</html>